.navbar {
  background: linear-gradient(135deg, #4b79a1, #283e51);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin-top: 5px;
}

.navbar-nav .nav-link {
  color: #fff;
  font-weight: 600;
  transition: color 0.3s;
}

.navbar-nav .nav-link:hover {
  color: #f8c548;
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
  color: #f8c548;
}

.navbar-toggler {
  border: none;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=UTF8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba%28255, 255, 255, 0.7%29' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
